html {
  scroll-behavior: smooth;
}


body {
  background-image: url("../images/thisisengineering-raeng-sbVu5zitZt0-unsplash.jpg");
    padding: 25px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    overflow:auto;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    
}

/* header styles start */

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;

}

h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #936591;
    text-align: center;
}

h2 {
    font-size: 24px;
}

a {
    color: #936591;
}


  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
  padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  /* header styles end */

/* container styles */
.container {
    width: 1024px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  height: 40vh;
  flex-grow: 1;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  vertical-align:middle;
}

li:last-child {
  flex-grow: 10;
}
/* #main-bio,
#contact-info,
#bio-image {
    float: left;
} */
#about{
  background-color: white;
  opacity: 0.9;
}

.faded {
  opacity: 0.9;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}