html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: url("../images/william-daigneault-Cd84YdL9px8-unsplash.jpg");
    padding: 25px;
    margin: auto 0;
    font-family: 'Bebas Neue', cursive;
    line-height: 150%;
    color: White;
    overflow:auto 0;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    
}

/* header styles start */

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}



h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;


}


a {
    color: white;
}


  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
  padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  /* header styles end */

/* container styles */
.container {
    width: 1024px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  padding: 25px;
  height: 40vh;
  flex-grow: 1;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  vertical-align:middle;
  box-shadow: 0px 5px 5px 5px black;
  background-color: #eac002;

}

li:last-child {
  flex-grow: 10;
}

/* about styles start*/
#about p {
  text-align: center;
}

#about {
  text-align: center;


  box-shadow: 0px 5px 5px 5px #eac002;


}

/* about styles end */

/* contact styles start */

#contact {
  /* padding: 5%; */
}

/* contact styles end */

/* projects style start*/

hr{ 
  width:75%; 
  height:2px; 
  background-color:#cce1ec; 
  border:none;}




#projects img:hover {
-ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.5); 
}

li {
  list-style: none;
}

h2 {
  font-size: xx-large;
}

h3 {
  text-align: center;
}

/* projects style end */
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}